<!DOCTYPE html>
<html>
    <head>
        <title>Resposta</title>
        <meta charset="UTF-8">
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <p><%= status%></p>
        <p>Nome: <%= nome%></p>
        <p>Login: <%= login%></p>
        <p>Senha: <%= senha%></p>
        <p>Nascimento: <%= nasc%></p>


    </body>
</html>